{% extends 'main/base.html' %}
{% block title %}精彩视频{% endblock %}
{% block body %}
<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="static/img/11.jpg" alt="" />
        </span>
        <header class="major">
            <h1>精彩视频</h1>
        </header>
        <div class="content">
            <p>wonderful vedios</p>
        </div>
    </div>
</section>
<section id="one">
    <div class="inner">
        <iframe height=100% width=100% src="//player.bilibili.com/player.html?bvid=BV1oE411v7NV&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
        <iframe height=100% width=100% src="//player.bilibili.com/player.html?bvid=BV1BE411v7Qy&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
    </div>
</section>


{% endblock %}