{% extends 'main/base.html' %}

{% block title %}关于天河信息社{% endblock %}

{% block body %}
<div class="blank" style="padding-top: 0px;"></div>
<div id="content" class="site-content">
<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="/static/img/9.jpg" alt="" />
        </span>
        <header class="major">
            <h1>关于天河信息社</h1>
        </header>
        <div class="content">
            <p>about Galaxy Information Technology Association</p>
        </div>
    </div>
</section>

<section id="one">
	<div class="inner">
		
			<h2>天河信息社（Galaxy Information Technology Association） <br>
				是属于东风高级中学下的一个与信息技术、计算机技术等相关的学生社团组织.</h2>
			<img src="/static/img/2.png" alt="" width="100%" height="100%">
			<h1>天河信息社章程</h1>
		
		<h3>第一章总则</h3>

		<h5>第一条社团名称及性质</h5>
			
			<p>天河信息社(Galaxy Information Technology Association，简称“信息社")是属于东风高级中学社团联合会下的一个与信息技术、计算机技术等相关的社团组织，由负责人和指导老师在学校、法定范围内进行社团活动的自愿组成的学生社团。</p> 
			
			<h5>第二条社团宗旨</h5>
			
			<p>我们以热爱技术创新，强化信息交流”为宗旨，将信息技术这门学科知识带给更多同学。我们正处于-一个科技高速发展的时代，中国在科技方面取得了很大进步。但未来我们这一-代人所面临的， 是一 一个更加现代化的时代，需要更多的科技创新使我们的生活变得越来越美好，
			使人类的文化信息交流变得越来越便捷。其中科学技术很大- -部分便是信息技术。5G、AI 等这些大家有所了解的事物慢慢走近我们的生活，
			这都属于信息技术的范畴，可想未来会有更多新的事物出现。而这些新的事物，便需要我们这一代来创新、发掘。只有我们如今热爱创新，并且互相交流、进行信
			息传递，才能给有所创造的未来打下基础。出于此宗旨，创办信息技术社团，使大家的信息技术知识有更深入的提升，同时培养同学们动手动脑的习惯以及并提升自身的逻辑思维。为东风高中校园热爱信息技术的同学提供一个优良的学习平台，推进东风高中信息技术的发展，促进同学们的综合素质水平。</p>
			
			<h5>第三条社团活动及范围</h5>
			
			<p>1、本社团采取自学与讲座、技术应用和理论学习结合的方式来达到学习的目
				的，以计算机硬件、各种软件操作、计算机编程等开展竞赛来达到热爱创
				新、加强交流的作用。社员应认真学习信息技术相关知识，积极参与竞赛来
				提高自己的能力和素养。<br>
				2、活动形式主要有：讲座学习、编程竞赛、作品多人制作竞赛、技术讨论与交
				流、配合学校组织的信息技术比赛等，并会根据需要开展不同的活动形式。<br>
				3、活动范围：社团联合会监督下、专业老师指导下于东风高中校内的活动。
			</p>
		<h3>第二章 社团成员相关义务和权利</h3>
		
		<h5>第四条</h5>
			<p>每一名信息社成员需听从社团决议及各项安排，公平履行社团义务和享受权
				利，有建议者可向负责人提议。</p>
		
		<h5>第五条 入社要求及程序</h5>
			<p>信息社欢迎东风高中具有正式学籍的任何热爱信息技术、计算机技术，并承
				认本章章程、遵守本学校纪律和国家法律法规的同学加入。本社不定期招新，每
				一位加入的同学只要喜欢信息技术这门学科，即使不具备很高的计算机操作技
				术，也可以加入本社团进行学习。每一位想要加入的成员，需要进行纸质相关题
				目的作答（题目由社团负责人命题，并仅作为了解同学们技术水平的参考，而非
				进行选拔），审核通过后方可成为信息社一员。
			</p>

		<h5>第六条 退社程序</h5>
			<p>1、自愿退社者，可书写退社申请书交至相关负责人及指导老师，审核批准后方
				可退社。<br>
				2、不履行社员义务且屡教不改者，自动退社处理，并不再被允许入社。<br>
				3、严重违反校规、法律法规者，自动退社处理，并不再被允许入社。
				</p>
		
		<h5>第七条 社员义务</h5>
			<p>1、每一名信息社成员必须在遵守东风高中各项规定及法律法规的前提下，认真
				阅读、学习并遵守本社章程及制度，互相监督和进步。<br>
				2、每一名信息社成员应关心团的发展与建设，积极并按时参与活动，为社团发
				展作出贡献。<br>
				3、每一名信息社成员不得凭本团名义进行个人组织的活动。参与社团组织的活
				动时，必须遵守活动规则，对活动有异议时可向负责人询问。<br>
				4、因本社活动与计算机相关，在使用学校提供的设备时，每一名信息社成员需
				按照要求使用，不得以任何形式破坏学校公共设施。若有发现情节严重者，
				交至学校处理。<br>
				5、每一名社内成员因社团活动发生冲突时，应告知负责人进行调解。若负责人
				不得知具体情况，最终造成影响由有关人员自行负责。<br>
				6、若发现任何一名信息社成员侵害其他社团成员的利益，根据事件严重程度进
				行处罚。轻则予以警告，重则退社处理，并不再被允许入社。
				</p>
		<h5>第八条 社员权利</h5>
				<p>1、每一名信息社成员享有公平的竞争权、作品版权、投票表决权。任何一名成
					员不得因自己的利益损害他人的利益。在权利受到侵害时，可告知负责人，
					交由负责人处理。<br>
					2、每一名信息社成员享有参加社团活动、阅读社团相关文件、接受组织和训练
					的权利。<br>
					3、每一名信息社成员在社负责人选举时享有平等的选举权和被选举权。具体详
					见“第三章 负责人的职责及选举”。<br>
					4、对社团的工作进行批评和建议。<br>
					5、入社和退社享有自由权。
					</p>
		<h3>第三章 负责人的职责及选举</h3>
		<h5>第九条 信息社负责人组成部分由下图所示:</h5>
				<p>其中：资料管理员、外交人员、财务管理员听命于副社长和社长，副社长听命于社长，
					各社员听命于各负责人。
				</p>
				<img src="/static/img/111.png" alt="" width="100%" height="100%">
		<h5>第十条 各负责人职责分明，不可随意推卸责任、更改职责。</h5>
		<h5>第十一条 各负责人相关职责</h5>
				<p>
					1、社长：负责主持并协调全社的工作。对社团内的事务负全部责任，处理重大
					事务，规划社团发展方向，协调社员、组织关系等。
					<br>
					
					2、副社负责长协助社长进行全社的管理。为社长的决议提供建议，建立社团档
					案（如活动总结、会议要点、重大决策、重大事件等）交至资料管理员存储
					等。<br>
					3、资料管理员：负责管理社内资料。辅助副社长建立社团档案<br>
					4、外交人员：负责调和本社团与其他团体组织的关系，或进行一些合作时负责
					沟通联系。<br>
					5、财务管理员负责统计每次活动的支出和财务的管理。<br>
					6、指导老师负责指导信息技术学习、传授信息技术知识，协助开展社团内活
					动。<br>
					7、社团社长、副社长及财务理事为本社团的骨干成员，并组成社团负责人委员
					会。<br>
						
				</p>
		<h5>第十二条 每学年将通过选举，重新选出新的负责人。各负责人在自荐、演讲、各部员
			投票选拔后诞生。</h5>
			
		<h5>第十三条 校团委拥有负责人委员会成员任免权。</h5>
		<h5>第十四条 负责人委员会职权：</h5>
		<p>1、制定和修改章程。<br>
			2、选举和罢免社团管理人员。<br>
			3、审议社团理事会的工作报告和财务报告。<br>
			4、决定终止事宜。<br>
			5、决定有关社团运作目标、方向及具体计划。<br>
			6、决定其他的重大事宜。
			</p>

		<h5>第十五条 会员大会有 2/3 以上的会员出席方能召开，其决议经到社团委员会和社联审议
			通过。负责人委员会可以不定期召开小会议进行商议，其结果会在社团内公
			示，进行二次决议。</h5>
		<h5>第十六条 会员大会每学期至少召开两次，如会员大会进行选举和罢免负责人委员会成
			员，以及制定修改社团章程和终止社团，须报社团联合会和校团委审批。
			</h5>

		<h5>第十七条 负责人委员会是会员大会执行机构，在闭会期间领导本社团开展日常工作，
			对会员大会负责，代表社团向社团联合会汇报工作。</h5>
		<h3>第四章 财务管理</h3>
		<h5>第十八条 社团财务包括社团经费和社团财产两部分。本社团经费来源：</h5>
			<p>1、个人捐助：由社员自发捐献<br>
				2、社会赞助：由社团寻求赞助单位的经费支持。<br>
				3、AA 制收款：由项目直接负责人向当事人收款。<br>
				4、学校拨款：由学校相关单位拨款。
				</p>
		<h5>第十九条 社团内的一切租借物品由当事人负责和归还。如损坏物品，照价赔偿。</h5>
		<h5>第二十条 本社团经费必须用于本章程规定的业务范围和事业的发展，不得挪用他用。
			如需使用经费时，需向负责人委员会申请批准。
			</h5>
		<h5>第二十一条 本社团建立严格的财务管理制度，保证财务资料合法、真实、准确、完
			整。财务管理必须遵守学校财务管理制度。
			</h5>

		<h5>第二十二条 本社团设立专门的财务理事。财务理事因换届选举离职时，须报社团老师
			批准，并在上任社长的监督下办理相关交接手续，最后于社团例会上予以
			公布。
			</h5>

		<h5>第二十三条 本社团换届或更换社团负责人之前必须接受下任社团管理人员及社团老师
			的财务审计。
			</h5>
		<h3>第五章 附则</h3>
		<h5>第二十四条 本章程具体有关事宜的未规定处可通过小型议会临时添加，且添加的条例
			自临时会议通过并结束之时起生效，有效范围包括并不限于已发生且未解
			决的事项。<br>
			第二十五条 本章程的解释权属本社团负责人委员会</h5>

		</div>
</section>
{% endblock %}