{% extends 'main/base.html' %}

{% block title %}留言板 | 天河信息社{% endblock %}

{% block body %}



        <div class="pattern-center-blank"></div>
  
    <div class="pattern-center ">
      <div class="pattern-attachment-img">
        <img src="https://cdn.jsdelivr.net/gh/honjun/cdn@1.4/img/banner/comment.jpg" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
      </div>
      <header class="pattern-header ">
        <h1 class="entry-title">
        留言板</h1>
      </header>
    </div>
  
  <div id="content" class="site-content">
    <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
      
<div class="entry-content">
  <div class="poem-wrap">
    <div class="poem-border poem-left">
    </div>
    <div class="poem-border poem-right">
    </div>
    <h1>
    念两句诗</h1>
    <p id="poem">
    叙别梦、扬州一觉。</p>
    <p id="info">
    【宋代】吴文英《夜游宫·人去西楼雁杳》</p>
  </div>
</div>
<link rel="stylesheet" href="/static/css/spoiler.css" type="text/css"><script src="/js/spoiler.js" type="text/javascript" async></script>
      <!-- .entry-content -->
      
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "Xx1Weh5IAMSFQOepqxX8xxwL-gzGzoHsz",
        appKey: "5UP6LsO4VrripLNX4RmvJka1",
        placeholder: "你是我一生只会遇见一次的惊喜 ..."
      })
  }
</script>

      <div class="single-reward">
        <div class="reward-open">赏
          <div class="reward-main">
            <ul class="reward-row">
              <li class="alipay-code"><img src="/static/img/Alipay.jpg"></li>
              <li class="wechat-code"><img src="/static/img/WeChat.jpg"></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="text-align:center; width: 100%" class="social-share share-mobile" data-disabled="diandian, tencent"></div>
     
    </article>
      <!-- #post-## -->
      <section class="author-profile">
        <div class="info" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
          <a href="/about/" class="profile gravatar"><img src="/static/img/i.ico" itemprop="image" alt="Blog" height="70" width="70"></a>
          <div class="meta">
            <span class="title">Author</span>
            <h3 itemprop="name">
            <a href="http://gitasite.site/" itemprop="url" rel="author">天河信息社</a>
            </h3>
          </div>
        </div>
        <hr>
        <p><i class="iconfont icon-write"></i>快来留言吧</p>
      </section>
  </div><!-- #primary -->
</div>
    </div>    
    <div class="ins-search">
    <div class="ins-search-mask"></div>
    <div class="ins-search-container">
        <div class="ins-input-wrapper">
            <input type="text" class="ins-search-input" placeholder="Type something..."/>
            <span class="ins-close ins-selectable"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="ins-section-wrapper">
            <div class="ins-section-container"></div>
        </div>
    </div>
</div>
<script>
(function (window) {
    var INSIGHT_CONFIG = {
        TRANSLATION: {
            POSTS: 'Posts',
            // PAGES: 'Pages',
            CATEGORIES: 'Categories',
            TAGS: 'Tags',
        },
        ROOT_URL: '/',
        CONTENT_URL: '/content.json',
    };
    window.INSIGHT_CONFIG = INSIGHT_CONFIG;
})(window);
</script>

{% endblock %}