{% extends 'main/base.html' %}

{% block title %}天河信息社活动公告{% endblock %}

{% block body %}
<div class="blank" style="padding-top: 0px;"></div>
<div id="content" class="site-content">
    {% comment %} <h1 class="main-title" style="font-family: 'Ubuntu', sans-serif;"> {% endcomment %}
      <i class="fa fa-envira" aria-hidden="true"></i>
      文章</h1>
      

{% for a in posts %}

<article  class="post post-list-thumb post-list-thumb-left"  class="post post-list-thumb" itemscope="" itemtype="https://schema.org/BlogPosting">

  <div class="post-thumb">
    <a href="article/{{a.id}}">
      <img class="lazyload" onerror="imgError(this,3)" src="https://cdn.jsdelivr.net/gh/KaizynX/cdn/img/post-loading.gif" data-src="{{a.photos.url}}">
    </a>
  </div>
  <div class="post-content-wrap">
    <div class="post-content">
      <div class="post-date">
        <i class="iconfont icon-time">
        </i>{{a.data_added}}</div>
      <a href="article/{{a.id}} class="post-title">
        <h3>{{a.title}}</h3>
      </a>
      <div class="post-meta">
        <span><i class="fa fa-tags"></i>
        
        </span>
        <span>
          <i class="iconfont icon-file"></i>
          
            <a href="/categories/ACM/">{{a.tag}}</a>
          
        </span>
        <!--置顶 -->
        <span>
          
            
          
        </span>
      </div>
      <div class="float-content">
        <p>{{ a|safe }}</p>
        <div class="post-bottom">
          <a href="/2018/11/04/template/" class="button-normal">
            <i class="iconfont icon-caidan"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>


{% empty %}
    <p>还没有公告哦！</p>


{% endfor %}
      
    </div>
  </div>

{% endblock %}

