{% extends 'main/base.html' %}
{% block title %}精彩图片{% endblock %}
{% block body %}
<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="static/img/10.jpg" alt="" />
        </span>
        <header class="major">
            <h1>精彩图片</h1>
        </header>
        <div class="content">
            <p>wonderful picturs</p>
        </div>
    </div>
</section>

<section id="one">
    <div class="inner">
        <span class="image main"><img src="http://user-assets.sxlcdn.com/images/592907/FiAUPmMsR9R5t0RB1SSD-ySivC95.jpg?imageMogr2/strip/auto-orient/thumbnail/1920x9000%3E/quality/90!/interlace/1/format/jpeg" alt="" width="20%" height="20%"/></span>
        <span class="image main"><img src="/media/upload/2021/03/21/fmamtt5lotafnjzkgziln7fx80l9.jpg" alt="" width="20%" height="20%"/></span>
        <span class="image main"><img src="http://user-assets.sxlcdn.com/images/592907/FknX3l7oRR4dWxTxmkNIC6t1052P.jpg?imageMogr2/strip/auto-orient/thumbnail/1920x9000%3E/quality/90!/interlace/1/format/jpg" alt="" width="20%" height="20%"/></span>
    </div>
</section>
{% endblock %}